<h1>Topics#index</h1>
<p>Find me in app/views/topics/index.html.erb</p>
<h1>All Topics</h1>



<div class="row">
	    <div class="col-md-8">
	      <% @topics.each do |topic| %>
	      <div class="media">
	        <div class="media-body">
	          <h4 class="media-heading">
	             <%= link_to topic.title, topic_path(topic) %>
               <h4 class="media-heading">
              <% topic.bookmarks.each do |bookmark| %>
                <div class="thumbnail">
                  <%= bookmark.url %>
                </div>
              <% end %>
            </h4>
	             <div class="bookmark_box">
	               <p> Filler </p>
	             </div>
	          </h4>
	        </div>
	      </div>
	      <% end %>
         <%= link_to "New", new_topic_path, class: 'btn btn-success'%>
	    </div>
	  </div>
