
 body {
  background-color: #purple;
 }

 h1 {
 	color: blue;
 	font-family: 'Raleway', sans-serif;
 	font-size: 15px;
 	border-bottom: 5px solid red;
 }

 h2 {
   color: green;
   font-family: 'Raleway', sans-serif;
 	margin-top: -15px;
 	margin-bottom: 20px;
 }

 h3 {
 	color: green;
 	font-family: 'Raleway', sans-serif;
 	margin-top: 5px;
 	margin-bottom: 5px;
 }

 h4 {
 	color: green;
   font-family: 'Raleway';
   font-size: 18px;

 	margin-bottom: -7px;
 	margin-top: 7px;
 }
 p {
   color: grey;
   font-family: 'Source Sans Pro';
 	font-size: 18px;
   line-height: 25px;
   }

 ul {
 	color: green;
 	font-family: 'Raleway';
 	font-size: 20px;
 	line-height: 20px;
 }

 li {
 	background: grey;
 	font-family: 'Raleway';
 	color: white;
 	margin-top: 10px;
 	border-radius: 10px;
 	font-size: 1.4vw;
 	text-decoration: none;

 }
 .row {
   background: white;
   color: green;
 	font-family: 'Raleway';
 	font-size: 20px;
 	line-height: 20px;

 }
